@layer theme, base, mui, components, utilities;
@import "tailwindcss";

/* dark mode setup */
@custom-variant dark (&:where(.dark, .dark *));

/* color palette */

@theme {
  /* light mode */

  --color-background: #ffffff; /* White for backgrounds */
  --color-foreground: #2c3e50; /* Dark gray for text */
  --color-primary: #228b22; /* Primary green */
  --color-primary-foreground: #ffffff;
  --color-primary-light-green: #90ee90; /* Light green */

  --color-primary-shadow: rgb(34 139 34); /* RGB for #228B22 */

  --color-secondary: #f4a460; /* Gold */
  --color-secondary-foreground: #2c3e50;

  --color-accent: #3498db; /* Tech blue for interactive elements */
  --color-accent-foreground: #ffffff;

  --color-muted: #f8f9fa; /* Light gray for helper backgrounds */
  --color-muted-foreground: #2c3e50;

  --color-card: #ffffff;
  --color-card-foreground: #2c3e50;

  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #228b22;

  /* Additional variables from the design */
  --color-brown-earthy: #8b4513; /* Earthy brown */
  --color-yellow-golden: #ffd700; /* Golden yellow */
  /* dark mode */
  --color-background-dark: #0f1419; /* Main background */
  --color-foreground-dark: #f7fafc; /* Main text */
  --color-primary-dark: #68d391; /* Dark mode green */
  --color-primary-foreground-dark: #0f1419;

  --color-primary-shadow-dark: rgb(104 211 145); /* RGB for #68D391 */

  --color-secondary-dark: #f4a460;
  --color-secondary-foreground-dark: #0f1419;

  --color-accent-dark: #3498db;
  --color-accent-foreground-dark: #f7fafc;

  --color-muted-dark: #1a202c; /* Secondary background */
  --color-muted-foreground-dark: #a0aec0; /* Secondary text */

  --color-card-dark: #1a202c;
  --color-card-foreground-dark: #f7fafc;

  --color-border-dark: #2d3748;
  --color-input-dark: #2d3748;
  --color-ring-dark: #68d391;
}
/* fonts */

@theme inline {
  --font-cairo:
    var(--cairo), "Courier New", Courier, monospace, ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-inter:
    var(--inter) Arial, Helvetica, ui-sans-serif, system-ui, sans-serif, arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility min-h-screen {
  min-height: 100dvh;
}
